.map-container {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    float: left;
}
h1 {
    /*changes the colour of the text in this tag*/
    color: #D2691E;
    /*changes the alignment of the text in this tag*/
    text-align: center;
    /*sets the font family of the text in this tag*/
    font-family: monospace;
    /*sets the font size of the text in this tag (can be done with px or %)*/
    font-size: 300%;
  }
nav {
    text-align: center;
    font-family: monospace;
    font-size: 200%
}
body {
    background-color: bisque;
}
p {
    float: right;
    text-align: center;
    font-family: monospace;
    font-size: 125%;
    background-color: sandybrown;
    color: whitesmoke;
    width: 45%;
}
h2 {
    font-family: monospace;
    color: #D2691E;
    font-size: 175%;
}
h3 {
    font-family: monospace;
    color: #D2691E;
    float: right;
    text-align: center;
    font-size: 175%;
    width: 45%;
}

.links {
    width: 45%;
    float: right;
    text-align: center;
}



button { 
    /*sets the font size of the text in all buttons with the class attribute of button*/
    font-size: 16px;
    /*sets the alignment of the text in all buttons with the class attribute of button*/
    text-align: center;
	}
/*sub class that we are adding additional styling elements to unique to the button with this sub class*/
.b1 {
    /*sets the colour of the button*/
    background-color: navy;
    /*sets the colour of the text in the button*/
    color : white; 
    /*makes the button hover in the middle until more buttons are added to the same row -- the buttons are still centered*/
    float: center;
    /*rounds the corners of the edges of the button depending on magnitude of px*/
    border-radius: 8px;
    /*width of the button horizontally*/
    width: 150px;
    /*used to generate space around the text in the button*/
    padding: 10px 24px;
}
.b2 {
    background-color: white;
    color: navy;
    float: center;
    border-radius: 8px;
    width: 150px;
    padding: 10px 24px;
}
.b3 {
    background-color: navy;
    color : white; 
    float: center;
    border-radius: 8px;
    width: 220px;
    padding: 10px 24px;
}
.b4 {
    background-color: white;
    color: navy;
    float: center;
    border-radius: 8px;
    width: 220px;
    padding: 10px 24px;
}
.b5 {
    background-color: navy;
    color : white;
    float: center;
    border-radius: 8px;
    width: 325px;
    padding: 10px 24px;
}